* {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

*::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #000000 0%, #140000 75%, #8b0000 100%);
}
